{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

  body {
    font-family: 'Chivo Mono', sans-serif;
  }
</style>

<div class="container d-flex justify-content-center align-items-center" id="login-container">
  <div class="card text-light bg-custom-dark mt-5 p-4">
    <div class="row">
      <div class="col-md-12">
        <h3>{% trans "Sign In" %}</h3>

        <p>{% blocktrans %}Welcome to Boss Burgers, to make a booking, you must have an account. If not, then please <a
            class="link" href="{{ signup_url }}">sign up</a>
          first.{% endblocktrans %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}