{% extends "base.html" %}
{% load static %}
{% url 'home' as home_url %}

{% block content %}

<!-- index.html content starts here -->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'images/default.jpg' %}" alt="..." />
        </div>
        <div class="col-lg-5">
            <h1 class="text-white">Boss Burgers</h1>
            <p>The finest quality, with quality prices!</p>
            <a class="btn btn-primary" href="{% url 'menu' %}">View Menu</a>
            <a class="btn btn-primary" href="{% url 'create_booking' %}">Create Booking</a>
        </div>
    </div>
</div>

<!-- About Section-->
<div class="container my-5 about-bg">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card-about text-white bg-yellow py-4 text-center">
                <div class="card-body">
                    <p class="text-white m-0">About Section</p>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->

{% endblock %}

{% block copyright %}
<script src="{% static 'js/script.js' %}" type="text/html"></script>
Copyright 2023 Ruairi Keane
{% endblock %}