{% extends "base.html" %}
{% load static %}
{% url 'home' as home_url %}

{% block content %}

<!-- index.html content starts here -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

    body {
        font-family: 'Chivo Mono', sans-serif;
    }
</style>


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7" style="width: 70%;">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'images/heroimage.jpg' %}" alt="..." />
        </div>
        <div class="col-lg-5" style="width: 30%;">
            <h1 class="text-white">Goat Burger</h1>
            <p>The finest quality, with quality prices!</p>
            <a class="btn btn-primary" href="{% url 'menu' %}">View Menu</a>
            <a class="btn btn-primary" href="{% url 'create_booking' %}">Book Now</a>
        </div>
    </div>
</div>

<!-- About Section-->
<div class="container about-bg">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card-about text-white bg-yellow my-5 py-4 text-center rounded">
                <div class="card-body">
                    <h1 class="text-white ">About Section</h1>
                    <p class="mt-4">Welcome to Goat Burger, where passion meets flavour in every bite.
                        Nested in the heart of Dublin's city centre, our restaraunt is a haven for burger enthusiasts
                        seeking for all out excellence. We take pride in providing an experience for our customers, and
                        that's why we only source the finest quality ingredients, from locally sourced grass fed beef,
                        to
                        artisanal cheeses and freshly baked brioche buns.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100 border">
                <div class="card-body">
                    <h2 class="card-title text-center">Quality Prices</h2>
                    <p class="card-text">Our burgers are not only renowned for their exceptional quality,
                        but also for being affordaly priced. Despite the premium ingredients and meticulous
                        craftsmanship that go into each burger,
                        we strive to ensure that our menu remains accessible to all customers.
                    </p>
                </div>
                <div class="card-footer text-center"><a class="btn btn-primary btn-sm" href="{% url 'menu' %}">View
                        Menu</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 border">
                <div class="card-body">
                    <h2 class="card-title text-center">Fine Ingredients</h2>
                    <p class="card-text">Here at GOAT Burger we take pride in only using the finest quality ingredients.
                        Fine ingredients are often sourced locally or from
                        trusted suppliers, fostering relationships within the community and supporting small-scale
                        producers.</p>
                </div>
                <div class="card-footer text-center"><a class="btn btn-primary btn-sm" href="{% url 'menu' %}">View
                        Menu</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 border">
                <div class="card-body">
                    <h2 class="card-title text-center">Upcoming Locations</h2>
                    <p class="card-text">We are currently in the heart of Dublin City Centre, but we plan
                        on expanding operation here at Goat Burger. This will only be possible with the help of you
                        , if you would like to join our team as we expand, please contact us by clicking the button
                        below.

                    </p>
                </div>
                <div class="card-footer text-center"><a class="btn btn-primary btn-sm"
                        href="{% url 'contact' %}">Contact Here
                    </a></div>
            </div>
        </div>
    </div>
</div>
<!-- index.html content ends here -->

{% endblock %}

{% block copyright %}
<script src="{% static 'js/script.js' %}" type="text/html"></script>
Copyright 2023 Ruairi Keane
{% endblock %}