{% extends 'base.html' %} {% block content %}
{% load static %}

<!-- Render menu with bootstrap styling -->


<div class="container" id="menu-container">
    <div class="card text-light mt-5 mb-4 p-4" style="border: 2px solid #F08000;">
        <header class="text-center mt-5">
            <h1>Menu</h1>
        </header>
        <section class="menu-section">
            <h2 class="text-center text-black">Burgers</h2>
            <div class="menu-item">
                <span>Og Burger</span>
                <span>$8.99</span>
            </div>
            <div class="menu-item">
                <span>Cheeseburger</span>
                <span>$9.99</span>
            </div>
            <div class="menu-item">
                <span>Bacon Burger</span>
                <span>$10.99</span>
            </div>
            <div class="menu-item">
                <span>Veggie Burger</span>
                <span>$10.99</span>
            </div>
        </section>

        <section class="menu-section">
            <h2 class="text-center text-black">Sides</h2>
            <div class="menu-item">
                <span>French Fries</span>
                <span>$3.99</span>
            </div>
            <div class="menu-item">
                <span>Baked Potatoe</span>
                <span>$3.99</span>
            </div>
            <div class="menu-item">
                <span>Mash</span>
                <span>$3.99</span>
            </div>
            <div class="menu-item">
                <span>Onion Rings</span>
                <span>$3.99</span>
            </div>
        </section>

        <section class="menu-section">
            <h2 class="text-center text-black">Drinks</h2>
            <div class="menu-item">
                <span>Soda</span>
                <span>$1.99</span>
            </div>
            <div class="menu-item">
                <span>Iced Tea</span>
                <span>$2.99</span>
            </div>
            <div class="menu-item">
                <span>Milkshake</span>
                <span>$3.99</span>
            </div>
            <div class="menu-item">
                <span>Beer</span>
                <span>$3.99</span>
            </div>

        </section>
    </div>
</div>


{% endblock content %}