{% extends 'base.html' %} {% block content %}
{% load static %}


<body class="menu-page">
    <div class="container">
        <header class="text-center mt-5">
            <h1>Menu</h1>
        </header>
        <section class="menu-section">
            <h2>Burgers</h2>
            <div class="menu-item">
                <span>Og Burger</span>
                <span>$8.99</span>
            </div>
            <div class="menu-item">
                <span>Cheeseburger</span>
                <span>$9.99</span>
            </div>
            <div class="menu-item">
                <span>Bacon Burger</span>
                <span>$10.99</span>
            </div>
            <div class="menu-item">
                <span>Veggie Burger</span>
                <span>$10.99</span>
            </div>
        </section>

        <section class="menu-section">
            <h2>Sides</h2>
            <div class="menu-item">
                <span>French Fries</span>
                <span>$3.99</span>
            </div>
            <div class="menu-item">
                <span>Baked Potatoe</span>
                <span>$3.99</span>
            </div>
            <div class="menu-item">
                <span>Mash</span>
                <span>$3.99</span>
            </div>
            <div class="menu-item">
                <span>Onion Rings</span>
                <span>$3.99</span>
            </div>
        </section>

        <section class="menu-section">
            <h2>Drinks</h2>
            <div class="menu-item">
                <span>Soda</span>
                <span>$1.99</span>
            </div>
            <div class="menu-item">
                <span>Iced Tea</span>
                <span>$2.99</span>
            </div>
            <div class="menu-item">
                <span>Milkshake</span>
                <span>$3.99</span>
            </div>
            <div class="menu-item">
                <span>Beer</span>
                <span>$3.99</span>
            </div>

        </section>
    </div>
</body>

{% endblock content %}