{% extends 'base.html' %}
{% block content %}
{% load static %}
{% url 'contact' as contact_url %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

    body {
        font-family: 'Chivo Mono', sans-serif;
    }
</style>


<div class="container" id="contact-container">
    <div class="card bg-custom-dark text-light mt-4 p-4">
        <h1>Contact Us Here</h1>
        <p>Fill out the form below to get in touch. </p>
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100 mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<hr style="color: #fc9003;">

<h2 class="text-center mt-5 text-white">My Previous Requests</h2>

{% endif %}
{% endblock %}