{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

    body {
        font-family: 'Chivo Mono', sans-serif;
    }
</style>


<div class="container" id="contact-container">
    <div class="card bg-custom-dark text-light mt-4 p-4">
        <h1>Contact Us</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<hr>

{% if submitted_content %}
<div class="container submitted-content">
    {{submitted_content}}

</div>
{% endif %}
{% endblock %}