@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #222222;
    font-family: 'Chivo Mono', sans-serif;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #222222;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: black;
}


.main-bg {
    flex-grow: 1;
    background-color: black;
}

.card {
    border: #F08000;
    background-color: transparent;
}

.image-container {
    position: relative;
}


.scale {
    width: 100%;
    height: auto;
}

.author {
    color: black;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}


.link {
    color: #F08000;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: black;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: black;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* custom css */
.navbar {
    background-color: #F08000;
}

.navbar-nav .nav-link {
    color: #444 !important;
    ;
}

.nav-item:hover .nav-link {
    text-decoration: underline;
}

.navbar-dark .navbar-brand {
    color: black;
}

.navbar-dark .navbar-toggler {
    color: black;
}


a.navbar-brand {
    color: black;
}


.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: #444 !important;
}

.footer {
    background-color: #F08000;
}


div.small.text-center.text-black.fst-italic.mb-2 {
    color: black;
}

a {
    color: black;
}


.footer .list-inline-item {
    color: black;
}

.footer .small.text-muted {
    color: black;
}


body.bg-dark-grey {
    background-color: #F08000;

}

.card-about {
    background-color: #F08000;

}

.card .card-body {
    color: #fff;
}

.card .card-body .author {
    color: #ccc;
}

.post-link {
    color: white;
}

.post-link:hover {
    text-decoration: underline;
}

.pagination .page-link {
    background-color: #444;
    color: #fff;
    border: 1px solid #444;
}

.btn-primary {
    background-color: #fc9003;
    border-color: #fc9003;
    color: black;
}



.btn-danger {
    background-color: #E84610;
    border-color: #e84610;
    color: black;
}

.btn-success {
    background-color: #F08000;
    color: black;
}

/* custom */

.menu-page {
    background-color: #f8f9fa;
}

.menu-section {
    margin-top: 20px;
}

.menu-section h2 {
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}

.card-img-top {
    height: 300px;
}

/* Login page */

.btn-signup {
    background-color: #F08000;
    color: black;

}

div h3 {
    color: white;
}

div p {
    color: white;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-custom-dark {
    background-color: #222222;
    color: #fff;
}

/* Logout page */

#logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact page */

#contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}


/* Menu section */

.menu-section h2 {
    background-color: #F08000;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

/* Index page */

.container {
    margin-bottom: 10px;
}

.card-tall {
    margin-bottom: 200px;
}

.bg-black {
    background-color: #222222;
}